@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,600;0,700;1,600&display=swap');
body{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: $gray;
  color: #83888A;
  position: relative;
  // &::before{
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   background-color: #31415A;
  //   opacity: 0.3;
  //   z-index: 5;
  //   display: none;
  // }
  // &.intro{
  //   // &::before{
  //     display: block;
      
  //   // }
  //   position: fixed;
  // }


}
.container {
  max-width: 1576px;
  margin: 0 auto;
  padding: 0px 15px;
  @include mq(xxl) {
    max-width: 1320px;
  }
  @include mq(xl) {
    max-width: 1140px;
  }
  @include mq(lg) {
    max-width: 960px;
  }
  @include mq(md) {
    max-width: 720px;
  }
  @include mq(xs) {
    max-width: 100%;
  }
}

.v-center {
  align-items: center;
}
img {
  max-width: 100%;
}

/* Shadow and Outline */

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
 
  margin: 0;
  padding: 0;
}
li {
  color: unset;
}
input {
  outline: none !important;
  // border: none !important;
  height: 100%;
  width: 100%;
}

.body-area{
  margin-top: 10px;
}
.body{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @include mq(lg){
    position: relative;
  }

}